# This is Git's per-user configuration file.
# vim: ts=4 sw=4 et

[core]
  editor = "nvim"

[commit]
  gpgsign = true

[user]
  name = {{ .git.name | quote }}
  email = {{ .git.email | quote }}
  signingkey = {{ .git.signingkey }}

[diff]
    tool = nvim

[difftool]
    prompt = false

[difftool "nvim"]
    cmd = "nvim -d $LOCAL $REMOTE"

[merge]
    tool = nvim

[mergetool]
    prompt = false

[mergetool "nvim"]
    cmd = "nvim $MERGED"
