# Default config for sway
#
# Copy this to ~/.config/sway/config and edit it to your liking.
#
# Read `man 5 sway` for a complete reference.

### Variables
#
# Your preferred terminal emulator
set $term kitty
# Your preferred application launcher
set $menu wofi --show drun
set $menu_alt wofi --show run

### Output configuration
#
# Wallpaper
# output * bg #070707 solid_color
output * bg ~/Pictures/Wallpapers/che-stallman2.png fill

{{ if eq .chezmoi.hostname "RandomLaptop" }}
# RandomLaptop
{{ template "sway/outputs-RandomLaptop.tmpl" }}
{{ else if eq .chezmoi.hostname "RandomPC" }}
# RandomPC
{{ template "sway/outputs-RandomPC.tmpl" }}
{{ end }}

# You can get the names of your outputs by running: swaymsg -t get_outputs

### Idle configuration
exec swayidle -w \
         timeout 300 'swaylock -f' \
         timeout 330 'swaymsg "output * power off"' resume 'swaymsg "output * power on"' \
         before-sleep 'swaylock -f'

### Clipboard configuration
exec wl-paste -t text --watch clipman store --no-persist --max-items=15

# Status Bar:
#
# Read `man 5 sway-bar` for more information about this section.
bar {
    swaybar_command waybar
}

### Maybe I'm doing something wrong, but Sway does not export needed variables 
exec uwsm finalize

### Systemd services specific to Sway
exec systemctl --user start swaync.service
exec systemctl --user start plasma-polkit-agent.service

# exec /usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1

include inputs.conf
include keybinds.conf
include style.conf
include floating.conf
